:root {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

.container {
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

/* # General
=================================================*/

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-weight: 800 !important;
  line-height: 1.5;
  text-transform: capitalize;
}

h1,
.h1 {
  font-size: clamp(1.2rem, calc(1.2rem + 1.5vw), 2.5rem) !important;
}

h2,
.h2 {
  font-size: clamp(1.325rem, calc(1.325rem + 0.9vw), 2rem) !important;
}

h3,
.h3 {
  font-size: clamp(1.3rem, calc(1.3rem + 0.6vw), 1.75rem) !important;
}

h4,
.h4 {
  font-size: clamp(1.275rem, calc(1.275rem + 0.3vw), 1.5rem) !important;
}

h5,
.h5 {
  font-size: 1.25rem !important;
}

h6,
.h6 {
  font-size: 1rem !important;
}

.all-page :is(h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6) {
  margin-bottom: 15px !important;
}

img,
svg {
  vertical-align: middle;
}

form input {
  width: 100%;
  outline: none;
  border: unset;
}

input,
button,
textarea {
  font-size: 1rem;
}

button {
  cursor: pointer;
  border: unset;
}

figure {
  max-width: 100%;
}

body {
  word-wrap: break-word;
}

.mt-2 {
  margin-top: .5rem !important;
}

/* # Common Class
=================================================*/
.all-page {
  padding-top: 40px;
}

.all-page ul {
  list-style-type: none;
}

.all-page :is(ul, ol):not(.site-social-links ul) {
  padding-left: 1.5rem;
  margin-bottom: 20px;
}

.all-page :is(ul, ol):not(.site-social-links ul) li {
  line-height: 1.7;
  margin-bottom: 15px;
  position: relative;
}

.all-page,
.number-remove {
  counter-reset: term definition;
}

.all-page .number > *:not(a)::before {
  counter-increment: term;
  content: counter(term) ". ";
}

.all-page p,
.all-page .wp-block-image {
  margin-bottom: 20px;
}

.all-page ul li:not(.tableofcontent ul li, .site-social-links ul li)::before {
  position: absolute;
  left: -25px;
  top: 5px;
  content: "";
  width: 16px;
  height: 16px;
  background-size: cover;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-center {
  justify-content: center;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.img-placeholder {
  aspect-ratio: 16/9;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-0 {
  padding-top: 0 !important;
}

.p-30 {
  padding: 30px;
}

.h-100 {
  height: 100%;
}

[class*="mediapract-container"] {
  margin-block: clamp(1.5625rem, 0.4464rem + 2.9762vw, 3.125rem);
}

[class*="mediapract-container-bg"] {
  padding: clamp(0.9375rem, 0.3365rem + 2.4038vw, 2.5rem);
  border-radius: 4px;
}

.mediapract-container-1 {
  margin-top: 30px;
}

.mediapract-container-black {
  padding-block: 40px;
}

.row-gap {
  row-gap: 30px;
}

[class*="grid"] {
  display: grid;
  align-items: center;
  gap: 20px;
}

.grid-50-50 {
  grid-template-columns: repeat(2, 1fr);
}

/* # Common Components
=================================================*/

/* Breadcrumbs ___________Starts */
#breadcrumbs {
  margin-bottom: 30px;
}

#breadcrumbs span > span {
  border-radius: 4px;
  padding: 0px 10px;
  display: inline-block;
}

/* Site Cards_____________Starts */
.img-placeholder,
.img-placeholder img {
  border-radius: 8px;
}

.site-content {
  display: flex;
  flex-flow: column;
  gap: 12px;
  flex: 1;
}

.site-content :is(.site-title, p, .big-head, .overlay-title) {
  display: -webkit-box !important;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0 !important;
}

.post-meta {
  margin-top: auto;
}

.site-card {
  display: flex;
  flex-flow: column;
  gap: 20px;
  height: 100%;
}

.site-card-bg {
  padding: 16px;
  border: 1px solid #fbfbfb;
  background: white;
  border-radius: 4px;
}

.site-title {
  font-size: 17px;
  font-weight: 800;
  line-height: 28px;
  display: block;
}

.site-title:hover,
.big-head:hover {
  text-decoration: underline;
  color: var(--gradient);
}

.big-head {
  font-size: clamp(1.0625rem, 0.3929rem + 1.7857vw, 2rem);
  line-height: clamp(1.75rem, 0.9464rem + 2.1429vw, 2.875rem);
  font-weight: 800;
}

.subhead {
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
}

.category-title {
  text-transform: uppercase;
}

.auth-name,
.category-title,
.date {
  width: fit-content;
  display: flex;
  font-size: 14px;
  color: #8a8a8a;
}

.auth-name {
  gap: 5px;
}
.auth-name a {
  font-weight: 600;
}

.date {
  position: relative;
}
.date::before {
  content: "-";
  display: inline-block;
  padding-inline: 8px;
}

/*Separator_____________Start*/
.seperator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  gap: 10px;
}

/*Sep button_____________Start*/
.sep-btn {
  display: inline-block;
  text-transform: capitalize;
}

/* border-bottom _____________Start */

.border-bottom:first-child {
  padding-top: 0 !important;
}

.border-bottom {
  padding: 20px 0;
  border-bottom: 1px solid #e3e3e3;
}

.mediapract-container-4 .row [class*="col"] .row [class*="col"]:last-of-type .border-bottom {
  padding-bottom: 0 !important;
  border: unset;
}

/* # Header
=================================================*/
header {
  height: 65px;
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
  top: 0;
  left: 0;
}

.sticky-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

header > .container {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  user-select: none;
}

#dp-logo img,
.logo-second {
  width: 290px;
}

nav {
  margin-left: auto;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 40px;
}

header ul li {
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
}

header ul li > ul > li {
  padding: 10px 15px;
}

header ul li:last-of-type {
  margin-right: 0px;
}

header nav ul li a {
  position: relative;
  display: inline-block;
}

header ul .dropdown ul {
  display: block;
  left: -40px;
  top: 45px;
}
header ul .dropdown ul,
.mega-menu-dropdown .mega-dropdown {
  visibility: hidden;
  position: absolute;
  margin: 0;
  padding: 10px;
  z-index: 99;
  transition: all 0.3s;
  transform-origin: top;
  transform: scale(0);
}

.mega-menu-dropdown .mega-dropdown {
  display: flex;
  left: 0;
  top: 66px;
  width: 100%;
}

.dropdown ul .dropdown {
  position: relative;
}

.dropdown::after,
.dropdown .dropdown::after,
.dropdown ul .dropdown::after,
.mega-menu-dropdown::after {
  display: flex;
  content: "";
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

header ul .dropdown ul .dropdown ul {
  position: absolute;
  left: calc(100% + 20px);
  top: 10px;
}

.toggle-slide-btn,
.cancel-btn {
  display: none;
}

header .search-btn,
header .mob-search-btn {
  cursor: pointer;
  stroke: var(--color);
  fill: var(--color);
  margin-bottom: 3px;
}

.mob-search-btn {
  display: none;
}

.search-form {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  padding: 8px 14px;
  border-radius: 40px;
  border: 2px solid #32323270;
}

.search-form input {
  width: 200px;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
}
.search-form:focus-visible {
  border: 1px solid black;
}

.search-form .search-btn {
  cursor: pointer;
}

header .search-bar-show {
  transition: all 0.3s ease;
  z-index: 10;
  transform: scaleY(1);
}

.show-ul {
  transform: translate(0%);
  overflow-y: auto;
}

.toggleBtn {
  padding: 10px 20px;
}

/* # Home Page
=================================================*/
.number .h5 {
  margin-bottom: 0 !important;
}

/* overlay card start */
.overlay-card {
  position: relative;
  height: 100%;
}
.overlay-card .site-content {
  position: absolute;
  bottom: 30px;
  padding-inline: clamp(1.25rem, 0.8036rem + 1.1905vw, 1.875rem);
  z-index: 1;
}
.overlay-card .img-placeholder{
  width: 100%;
  height: 100%;
}

.overlay-card .img-placeholder img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.overlay-card .img-placeholder ::before {
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
/* overlay card end */

/* # Single Page
=================================================*/

/* Blog header _____________start */
.blog-header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 50px;
}

.blog-header #breadcrumbs {
  margin-bottom: 0;
}

.auth-meta img {
  height: 40px;
}

/* table of contents start */
.sidebar-menu-class {
  position: relative;
  right: 0;
  width: 100%;
}
/* 
.sidebar-menu-class:before {
  content: "";
  height: 69px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 95%;
  z-index: 10;
} */

.sidebar-menu-class ul.table-list {
  height: 600px;
  overflow-y: scroll;
  /* padding: clamp(0rem, -2.4554rem + 6.5476vw, 3.4375rem) 1px 1px; */
  position: relative;
  padding-left: 0px !important;
}

.sidebar-menu-class ul.table-list ul{
  padding-left: 0px !important;
  margin-bottom: 0;
}
.sidebar-menu-class ul.table-list ul li{
  padding-left: 36px;
}

.sidebar-menu-class ul.table-list li::before{
  display: none;
}

.sidebar-menu-class ul li {
  margin-bottom: 0;
  padding: 5px 0px;
}

/* .sidebar-menu-class .table-h {
  align-items: center;
  display: flex;
  height: 54px;
  position: absolute;
  width: 100%;
  z-index: 10;
} */
.table-h svg{
  cursor: pointer;
}
/* #icon-position {
  margin-left: 14px;
  margin-right: 0;
  opacity: 0;
  visibility: none;
} */

/* .table-ribbon:before {
  content: "";
  left: -15px;
  position: absolute;
  top: 55px;
} */
/* table of contents end */

/* Blog Contents _____________start */

/* table */
table {
  width: 100%;
}

table tr:first-child th {
  height: 45px;
  padding: 16px;
}

table tr td {
  padding: 10px;
  text-align: center;
}

/* related post */
blockquote {
  padding: 25px;
  position: relative;
  border-radius: 8px;
}

blockquote::before {
  position: absolute;
  content: "";
  width: 90px;
  height: 45px;
  left: 20px;
  top: 20px;
}

/* pros-cons */
.digiplan-widget-pc-container{
  align-items: flex-start;
  margin-bottom: 30px;
}

.digital-pc-header {
  padding: 10px 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.digital-pc-header::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  left: 0px;
  bottom: -15px;
  clip-path: polygon(0 0, 100% 76%, 100% 0);
}

.digital-pc-body {
  margin-left: 15px;
  position: relative;
  padding: 20px;
}
/* widgets */
.grid-reverse-20 {
  grid-template-columns: 20% auto;
}

.digiplan-widget,.table-responsive,blockquote{
  margin-bottom: 30px;
}

.widget-content .site-card{
  display: grid;
}

.widget-heading {
  padding: 10px 20px;
  width: fit-content;
  display: flex;
  gap: 10px;
}

.widget-heading::before {
  content: "";
  width: 20px;
  height: 21px;
}

.widget-content::before {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: 3px;
  left: -1px;
  top: 0px;
}

.widget-content {
  padding: 25px;
  position: relative;
}

:is(.author-content, .accordion-content, .page-content, .widget-content, .digital-pc-body, blockquote, .toc-body, ul, ol)>*:last-child {
  margin-bottom: 0 !important;
}

.widget-content .border-bottom:last-child {
  padding-bottom: 0 !important;
  border-bottom: unset;
}
/* Accordians faq */
.accordions details[open] > summary::after {
  transform: rotate(-90deg);
}

.accordions summary {
  display: flex;
  cursor: pointer;
  padding: 15px;
  position: relative;
  gap: 10px;
}

.accordions summary a {
  display: contents;
}

.accordions summary:not(:last-child) {
  margin-bottom: 10px;
}

.accordions summary::after {
  content: "";
  width: 16px;
  height: 16px;
  transition: all 0.5s ease;
  margin-left: auto;
  flex: none;
}

.accordion-content {
  transition: all 0.5s;
  padding: 20px;
  margin: 15px 20px;
}

/* # Footer
=================================================*/
.mail span {
  margin: 0px 5px;
}

/* # Scroll top button
=================================================*/
#myBtn {
  position: fixed;
  bottom: 48px;
  height: 45px;
  width: 45px;
  right: 21px;
  z-index: 12;
  border-radius: 50%;
  border: unset;
  cursor: pointer;
}

/* footer start */
footer {
  margin-top: 40px;
  padding-top: 50px;
}

footer > .container,
.footer-category,
footer {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

footer .footer-category ul {
  gap: 16px !important;
}

footer ul {
  list-style: none;
}

.footer-category .h5 {
  width: fit-content;
}

/* social media start*/
.site-social-links {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.site-social-links ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 10px;
}

.site-social-links ul li a {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* social media end*/

.copyright {
  padding-block: 16px;
  text-align: center;
}

.newsletter {
  padding: clamp(0.625rem, 0.2404rem + 1.5385vw, 1.625rem);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mid-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 16px;
  row-gap: 16px;
}

.mid-right {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-form {
  display: flex;
}

.footer-form input {
  padding: 6px 14px;
}

.btn {
  padding: 7px 18px;
  width: fit-content;
}

/* footer end */

/* # Responsive Code
=================================================*/

@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .grid-50-50 .border-bottom {
      border: unset !important;
      padding: 0 !important;
  }

  .container {
      max-width: 720px;
  }

  .col-md-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
  }

  .col-md-3 {
      flex: 0 0 auto;
      width: 25%;
  }

  .col-md-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
  }

  .col-md-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
  }

  .col-md-6 {
      flex: 0 0 auto;
      width: 50%;
  }

  .col-md-7 {
      flex: 0 0 auto;
      width: 58.33333333%;
  }

  .col-md-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
  }

  .col-md-9 {
      flex: 0 0 auto;
      width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-12 {
      flex: 0 0 auto;
      width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }

  .col-lg-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
  }

  .col-lg-3 {
      flex: 0 0 auto;
      width: 25%;
  }

  .col-lg-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
  }

  .col-lg-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
  }

  .col-lg-6 {
      flex: 0 0 auto;
      width: 50%;
  }

  .col-lg-7 {
      flex: 0 0 auto;
      width: 58.33333333%;
  }

  .col-lg-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
  }

  .col-lg-9 {
      flex: 0 0 auto;
      width: 75%;
  }

  .col-lg-12 {
      flex: 0 0 auto;
      width: 100%;
  }
  .col-lg-10 {
      flex: 0 0 auto;
      width: 83.33333333%;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header ul .dropdown ul .dropdown ul {
      left: 0%;
      top: 30px;
  }

  .dropdown::after {
      right: 33px;
  }
}

@media screen and (min-width: 1023px) {
  header .dropdown:hover > ul,
  .mega-menu-dropdown:hover > .mega-dropdown {
      transform: scale(1);
      visibility: visible;
      opacity: 1;
  }
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
      max-width: 1320px;
  }
}
