* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans";
}

:root {
  --primary-color: #fff;
  --secondary-color: #c7c5c52b;
  --color: #000;

  --hover: rgba(19, 204, 98, 1);
  --hover-1: rgba(1, 125, 171, 1);
  --gradient: #22a1ff;

  scroll-behavior: smooth;
}

.dropdown::after,
.seperator::before,
.mail svg path,
.site-social-links svg path,
.toggle-slide-btn svg,
.contact-mail svg,
.mega-menu-dropdown::after {
  filter: invert(1) !important;
}

.show-ul .dropdown::after,
.dropdown .dropdown::after {
  filter: invert(0) !important;
}

.invert-filter::before {
  filter: invert(1);
}


/* mega menu */
.mega-menu-dropdown {
  position: static;
}

/* main */
.mega-dropdown ul {
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
}

/* second menu */
.mega-menu a {
  width: 50%;
  float: left;
}

.list-group {
  display: flex;
  flex-direction: column;
}
.mega-dropdown .row {
  row-gap: 16px;
}

.mega-dropdown a,
.h6 {
  padding: 10px 15px;
}

/* # General
=================================================*/
body {
  background-color: var(--primary-color);
  color: var(--color);
}

a {
  color: var(--color);
  transition: all 0.5s;
  text-decoration: none;
}

p {
  line-height: 30px;
}

/* # Common Class
=================================================*/
[class*="mediapract-container-bg"],
.bg-color-card {
  background-color: #e9ebf34d;
}

.all-page ul li:not(.tableofcontent ul li, .site-social-links ul li)::before,
.accordions summary::after,
.play::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Cpath d='m6.415 12.858 4-4-4-4' stroke='%230284A4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
      no-repeat;
}

.all-page :is(p, li, h2, h3, h4, h5, h6, summary):not(#breadcrumbs, .site-social-links ul li) a {
  border-bottom: 2px solid var(--hover-1);
  transition: all 0.3s;
  color: var(--hover-1);
  font-weight: 600;
}

.all-page :is(p, li, h2, h3, h4, h5, h6, summary):not(#breadcrumbs, .tableofcontent ul li, .site-social-links ul li) a:hover {
  border-bottom: none;
  transition: all 0.3s;
}

.img-placeholder {
  background-color: #c7c7c7;
}

:is(.auth-name a, .category-title):hover {
  text-decoration: underline;
}

.category-title {
  color: var(--gradient);
  font-weight: 600;
}

/* # Common Components
=================================================*/
/* Breadcrumbs ___________Starrts */
#breadcrumbs span span {
  border: 1px solid #e7e7e7;
}

/*Separator_____________Start*/

.seperator div {
  font-size: 40px;
  font-weight: 700;
  border-bottom: 10px solid #22a1ff78;
  line-height: 20px;  
}

.seperator::before {
  filter: invert(1) !important;
}

/*Sep button_____________Start*/
.sep-btn {
  color: var(--gradient);
  font-weight: 600;
  text-decoration: underline;
}
.sep-btn svg {
  border: 1px solid var(--gradient);
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 50%;
  padding: 8px;
  fill: var(--gradient);
  margin-left: 10px;
  transition: all 0.2s;
  transform: rotate(322deg);
}

.sep-btn:hover svg {
  background-color: var(--gradient);
  fill: var(--primary-color);
}

/* Social Icons _____________Start*/
.site-social-links ul li a {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.site-social-links ul li a:hover {
  background: var(--gradient);
  border: 2px solid transparent;
}

/* border-bottom _____________Start */
.border-bottom:not(:first-child) {
  border-top: 1px solid rgba(217, 217, 217, 0.2);
}

/* gradient border */

/* # Header
=================================================*/
header {
  background-color: var(--primary-color);
  box-shadow: 0px 0px 4px 0px hsla(0, 0%, 0%, 0.15);
}

header ul .dropdown ul,
.mega-menu-dropdown .mega-dropdown {
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

header ul li ul a {
  color: #000 !important;
}

.dropdown::after,
.dropdown .dropdown::after,
.mega-menu-dropdown::after,
.mega-menu-dropdown.dropdown::after {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m4 5.588 4 4 4-4' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.dropdown ul .dropdown::after {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m4 5.588 4 4 4-4' stroke='%23000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.search-form input {
  font-size: 14px;
  color: var(--color);
  background: transparent;
}

.search-form .search-btn {
  fill: var(--color);
  background: transparent;
}
.search-btn svg {
  stroke: #64748b;
}

/* # Home page
=================================================*/

/* overlay card start */
.mediapract-container-black {
  background-color: var(--color);
}

.mediapract-container-black > * {
  --color: var(--primary-color);
}

.mediapract-container-black .seperator div {
  color: var(--primary-color);
}

.overlay-card .site-content {
  border-radius: 4px;
}

.overlay-title {
  font-size: clamp(1.125rem, 0.8125rem + 0.8333vw, 1.5625rem);
  font-weight: 700;
  line-height: 1.5;
}
.overlay-title:hover {
  text-decoration: underline;
}

.overlay-card .img-placeholder img {
  transition: all 0.8s ease-in-out;
}

.overlay-card .img-placeholder ::before {
  background: linear-gradient(180deg, #00000014 0, rgb(0 0 0 / 29%) 27%, rgb(0 0 0 / 76%) 90%);
}
/* overlay card end */

/* # Single Page
=================================================*/

/* Blog header _____________start */
.auth-meta img {
  border-radius: 50%;
}
/* Blog header _____________end */

/* table of content start */
.sidebar-main{
  position: sticky;
  top: 85px;
}
.sidebar-menu-class {
  background-color: #fff;
  transition: .3s;
  border: 1px solid #ccc;
  border-radius: 8px;
}
/* .sidebar-menu-class:before {
  background: #fff;
} */

/* .sidebar-menu-class ul.table-list {
  border: 1px solid #ccc;
} */

.sidebar-menu-class ul.table-list li {
  list-style: none;
  transition: .3s;
  padding:15px 15px 15px 24px;
  margin-bottom: 0px !important;
}

.sidebar-menu-class ul li {
  border-left: 4px solid hsla(0, 0%, 100%, 0);
  font-size: 15px;
  line-height: 1.6;
}

/* .sidebar-menu-class .table-h {
  background-color: #0065b3;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
} */
.table-h{
  font-size: 20px;
  font-weight: 600;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid #ccc;
}

.sidebar-menu-class ul li a {
  border-bottom: unset !important;
  color: #000 !important;
  font-weight: 600;
}

.table-list::-webkit-scrollbar {
  width: 5px
}

.table-list::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px #c2c2c2
}

.table-list::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 10px
}

.table-list{
  display: block;
}

.table-list.open{
  display: none;
}
/* table of content end */

/* Blog Contents _____________start */

/* table */
table {
  border: 1px solid #c7c5c52b;
}

table tr {
  background-color: var(--secondary-color);
}

table tr:first-child th {
  background: #003950;
  color: #fff;
  border-radius: 4px 4px 0px 0px;
}

/* related post */
blockquote {
  background-color: var(--secondary-color);
}

blockquote::before {
  background: url('data:image/svg+xml, <svg class="div" width="90" height="45" viewBox="0 0 90 45" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M42.922 42.254c2.494-4.32 5.455-8.88 8.884-13.68 3.428-4.8 7.09-9.66 10.987-14.58 3.896-4.92 7.637-9.54 11.221-13.86h15.43c-2.65 4.68-5.456 9.66-8.417 14.94-2.805 5.28-5.532 10.44-8.182 15.48-2.493 4.92-4.675 9.48-6.546 13.68H43.857l-.935-1.98Zm-42.78 0c2.493-4.32 5.376-8.88 8.65-13.68 3.428-4.8 7.012-9.66 10.753-14.58 3.896-4.92 7.636-9.54 11.22-13.86H46.43c-2.026 3.6-4.13 7.32-6.312 11.16-2.026 3.84-4.052 7.74-6.078 11.7-2.026 3.84-3.974 7.56-5.845 11.16-1.87 3.6-3.506 6.96-4.909 10.08H.843l-.701-1.98Z" fill="%234E77A8" fill-opacity=".15"/></svg>')
      no-repeat center;
}

/* pros-cons */
.digital-pos-container .digital-pc-header {
  background-color: #327b00;
}

.digital-neg-container .digital-pc-header {
  background-color: #ff0000;
}

.digital-pc-header {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.digital-pc-header::before {
  background: #000;
}

.digital-pc-body {
  border: 1px solid #c7c5c52b;
}
/* widgets */
.widget-heading {
  background: var(--gradient);
  color: #fff;
}

.widget-heading {
  border-radius: 0px 16px 0px 0px;
  font-size: 18px;
  font-weight: 700;
}

.note .widget-heading::before {
  background: url('data:image/svg+xml,<svg class="file-text" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 2.666H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-12l-6-6Z" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M14 2.666v6h6m-4 5H8m8 4H8m2-8H8" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
      no-repeat center;
}

.source .widget-heading::before {
  background: url('data:image/svg+xml,<svg class="vector" width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.1 7.113H6.773l1.597-5.07c.15-.594-.28-1.18-.87-1.18H2.1a.914.914 0 0 0-.892.813l-1.2 9.375c-.071.562.349 1.062.892 1.062h4.452l-1.73 7.598c-.134.594.3 1.152.875 1.152a.894.894 0 0 0 .78-.468l6.6-11.875c.348-.622-.083-1.407-.777-1.407Z" fill="%23fff"/></svg>')
      no-repeat center;
}

.also-read .widget-heading::before {
  background: url('data:image/svg+xml,<svg class="vector" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.036 19.159c-.57-.03-1.012-.486-1.012-1.032V9.423c0-.595.517-1.069 1.139-1.033.944.053 2.353.178 3.816.465 1.463.288 2.978.74 4.133 1.447a.495.495 0 0 1 .239.427v9.609c0 .377-.413.619-.765.442-2.39-1.204-5.844-1.532-7.55-1.621ZM10 .888a3.726 3.726 0 1 1 0 7.45 3.726 3.726 0 0 1 0-7.45Zm.889 9.414c1.155-.707 2.67-1.159 4.132-1.447a28.701 28.701 0 0 1 3.816-.465c.622-.036 1.139.438 1.139 1.033v8.704c0 .547-.442 1.003-1.012 1.033-1.705.09-5.158.417-7.547 1.62-.353.177-.767-.065-.767-.443v-9.601c0-.175.086-.34.239-.434Z" fill="%23fff" stroke="url(%23a)" stroke-width=".049"/><defs><linearGradient id="a" x1="18.449" y1=".863" x2="-.341" y2="20.538" gradientUnits="userSpaceOnUse"><stop stop-color="%2313CC62"/><stop offset="1" stop-color="%23017DAB"/></linearGradient></defs></svg>')
      no-repeat center;
}

.widget-content {
  border: 1px solid #c7c5c52b;
  border-top: 0;
}

.widget-content::before {
  background: var(--gradient);
}
/* Accordians faq */
.accordions summary {
  background-color: var(--secondary-color);
  border-radius: 8px;
  transition: all 0.2s ease;
  font-weight: 600;
  border: 1px solid rgba(248, 248, 248, 0.1);
}

.accordion-content {
  border-left: 2px solid var(--gradient);
  border-radius: 4px;
}
/* # Footer
=================================================*/

/* # Scroll top button
=================================================*/
#myBtn {
  font-size: 18px;
  background: var(--gradient);
}

/* footer start */
footer {
  background-color: var(--color);
  color: var(--primary-color);
}

.footer-category ul li a {
  --color: var(--primary-color);
}
.footer-category ul li a:hover {
  text-decoration: underline;
}

.footer-category {
  border-right: 1px solid #373737;
}

.footer-category .h5 {
  font-weight: 700;
  border-bottom: 10px solid #22a1ff78;
  line-height: 6px;
}

/* social media start*/
.site-social-links ul li a {
  border-radius: 4px;
  background-color: #181818;
}
/* social media end*/

/* copywrite */
.copyright {
  background-color: #1e1e1e;
}

.newsletter {
  background-color: #181818;
}

.mid-footer {
  border-block: 1px solid #373737;
}

footer p {
  color: #dadada;
}

.btn {
  background-color: var(--gradient);
  color: var(--primary-color);
  transition: all 0.3s;
  border: 1px solid var(--gradient);
  border-radius: 4px;
}
.btn:hover {
  border-color: var(--gradient);
  background-color: transparent;
  color: var(--gradient);
}

.footer-form .btn:hover {
  background-color: transparent;
  border-color: gray;
}

.footer-form .btn {
  border-radius: unset;
  color: var(--primary-color) !important;
}
/* footer end */


/* other pages start*/
.dual-button {
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.message-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.message-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.message-page p {
  margin-bottom: 0;
}

.error404 img {
  margin-inline: auto;
  display: flex;
}
.error404 .h1 {
  font-size: clamp(1.5625rem, 1.4243rem + 2.1674vw, 3.375rem) !important;
}
.error404 .dual-button {
  margin-right: auto;
}

.error404 .row {
  align-items: center;
}
/* other pages end*/

/* author page start */
.auth-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.auth-img img {
  width: 120px;
  border-radius: 120px 120px 120px 0;
  box-shadow: 0px 0px 8px rgb(127 137 161 / 26%), 5px -7px 0px -2px #246eb842;
  border: 2px solid var(--primary-color);
}

.auth-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.auth-content .h5 {
  margin-bottom: 0 !important;
}

.auth-title {
  font-weight: 800;
  font-size: 18px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.auth-card:hover .auth-title {
  color: var(--gradient);
}

.auth-title svg {
  fill: #666666;
}
.auth-card:hover svg {
  fill: var(--gradient);
}
/* author page end*/

/* # Contact Page Templates start
=================================================*/
.contact-bg {
  background-color: #ecf6f6;
  padding: 25px;
  border-radius: 4px;
}

.contact-mail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.auth-social-follow {
  font-weight: 800;
  align-items: self-start;
  flex-direction: column;
  display: flex;
  gap: 8px;
}

.auth-social-follow ul {
  display: flex;
  gap: 10px;
  padding-left: 0px !important;
  margin-bottom: 0 !important;
}
.auth-social-follow ul li::before {
  display: none;
}
.auth-social-follow ul li {
  margin-bottom: 0 !important;
}
.auth-social-follow ul li a {
  border-bottom: unset !important;
}

/* # Contact Page Templates end
=================================================*/
.contact-us .message-page {
  background-color: #fdfdfd;
  padding: 30px clamp(1.25rem, 0.3571rem + 2.381vw, 2.5rem);
  gap: 30px;
  border-radius: 4px;
  border: 1px solid #e9ebf0;
}

.contact-form input,
.contact-form textarea {
  border: unset;
  border-bottom: 1px solid #c9c9c9;
  margin-bottom: 20px;
  padding: 10px 1px;
  width: 100%;
  background-color: unset;
}

.contact-us {
  background: url("../img/contact-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}

.contact-us .message-content p {
  padding-inline: clamp(0.0625rem, -4.384rem + 6.9544vw, 1.875rem);
}

.link-btn {
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 18px;
  border: 1px solid transparent;
}
.link-btn:hover {
  border: 1px solid var(--gradient);
  border-radius: 4px;
  color: var(--gradient);
  transition: all 0.3s;
}
.link-btn svg {
  stroke: #020202;
  transition: stroke 0.3s ease;
}
.link-btn:hover svg {
  stroke: var(--gradient);
}


/* single page start */
.post-meta .p-auth-info a img {
  padding: 1px;
  border: 1px solid #0000004f;
}
.rounded-circle {
  border-radius: 50%;
}
.ms-2 {
  margin-left: .5rem !important;
}

.post-meta {
  font-size: 13px;
  margin-bottom: clamp(0rem, -0.7143rem + 1.9048vw, 1rem);
}

.mx-3 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.p-auth-info:hover>ul {
  border-radius: 30px;
}
#back-to-top.active, .p-auth-info:hover>ul {
  opacity: 1;
  visibility: visible;
}

.p-auth-info ul {
  background: #fff;
  box-shadow: 0 0 30px rgba(127, 137, 161, .25);
  justify-content: center;
  opacity: 0;
  position: absolute;
  right: -8px;
  top: 40px;
  transition: .3s;
  visibility: hidden;
  width: 125px;
  z-index: 1;
}
.col-dashed, .p-auth-info, .wp-np-product-slider {
  position: relative;
} 
.p-0 {
  padding: 0 !important;
}

.p-auth-info ul li {
  list-style: none;
  margin-bottom: 0 !important;
  padding: 5px;
}
.p-auth-info ul li::before {
  display: none;
}

.p-auth-info svg:hover, .search-ion svg {
  fill: var(--gradient);
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

/* blog author atart */
.written-by {
  margin-bottom: 20px;
  background-color: #f4f4f4;
  padding: 30px 15px;
}
.written-by .author-name a {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.author-name, .date-b, .rate_no {
  font-size: 14px;
}

.mb-2 {
  margin-bottom: .5rem !important;
}

.written-by ul li::before{
display: none;
}

.my-2 {
  margin-bottom: .5rem !important;
  margin-top: .5rem !important;
}

.written-by img {
  border: 1px solid var(--gradient);
  box-shadow: 0 0 7px 0 #dadada;
}

.p-1 {
  padding: .25rem !important;
}
/* blog author end */

/* comment start */
.comment-h {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 28px;
}

.reply-btn {
  border-radius: 30px;
  margin-left: auto;
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
  font-weight: 700;
}

.cont-field-group input, .cont-field-group textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 15px;
  width: 100%;
  font-size: 16px;
}
.mb-3 {
  margin-bottom: 1rem !important;
}

.foot-submit button {
  border-radius: 30px;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* comment end */

.mt-5 {
  margin-top: 3rem !important;
}
/* single page end */


/* single author start */
.p-auth-info a img {
  border: 1px solid #0000004f;
  padding: 4px;
}

.single-aut-d .name {
  color: #000;
  font-size: 35px;
  font-weight: 700;
}

.mb-1 {
  margin-bottom: .25rem !important;
}

.author hr {
  background-color: #8f8f8f;
  border: none;
  height: 1px;
  margin: 20px 0;
  opacity: .25;
  width: 100%;
}
/* single author end */

/* pagination_____________start */

.pagination {
  display: inline-flex;
  justify-content: center;
  position: relative;
  width: 100%
}

.pagination a.page-numbers {
  background: #e7e7e7;
  color: #000
}

.pagination a.page-numbers,.pagination span.page-numbers.current {
  border: none;
  border-radius: 0;
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  height: 38px;
  line-height: 38px;
  margin: 0 5px;
  padding: 0;
  position: relative;
  text-align: center;
  transition: .3s;
  width: 38px;
  z-index: 1
}

.pagination a.page-numbers:focus,.pagination a.page-numbers:hover {
  background: #fff;
  border: none;
  color: #fff
}

.pagination a.page-numbers:after,.pagination a.page-numbers:before,span.page-numbers.current:after,span.page-numbers.current:before {
  background-color: #22a1ff;
  clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
  transition: .3s;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  content: ""
}

.pagination a.page-numbers:after,.pagination a.page-numbers:before {
  height: 0;
  top: 0
}

.pagination a.page-numbers:after,span.page-numbers.current:after{
  bottom: 0;
  top: auto
}

.pagination a.page-numbers:focus:after,.pagination a.page-numbers:focus:before,.pagination a.page-numbers:hover:after,.pagination a.page-numbers:hover:before,.pagination span.current:after,.pagination span.current:before,.pagination span.current:hover:after,.pagination span.current:hover:before {
  height: 70%
}

span.page-numbers.current:before {
  top: 0;
}

.screen-reader-text{
  display: none;
}

span.page-numbers.current{
  color:#fff;
}


/* # Responsive Code
=================================================*/
@media screen and (max-width: 1023px) {
  .search-form input header ul li a {
      color: #000;
  }
  .search-form {
      position: absolute;
      top: 64px;
      left: 0px;
      height: 50px;
      width: 100%;
      background-color: var(--gradient);
      border-radius: 0;
      transform: scale(0);
      transform-origin: top;
      border: unset;
  }
  .mob-search-btn {
      display: block;
  }
  .search-form input {
      color: var(--primary-color);
      width: 100%;
  }
  .search-form input::placeholder {
      color: var(--primary-color);
  }
  .search-btn svg {
      stroke: var(--primary-color);
  }

  .site-card {
      display: grid;
  }
  #dp-logo img {
    height: 30px;
  }
  
  #dp-logo {
    order: 2;
    text-align: center;
  }
  .mob-search-btn {
    order: 3;
  }
  header nav {
    margin-left: unset !important;
    position: absolute;
  }
  
  header nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0%;
    transition: all 0.2s;
    width: 300px;
    padding: 30px;
    z-index: 10;
    transform: translateX(-100%);
    display: block;
    background-color: #fff;
  }
  header nav ul li {
    padding-top: 20px;
  }

  header ul .dropdown ul {
    position: relative;
    height: fit-content;
    width: 100%;
    left: 0%;
    margin-top: 10px;
    top: 0px;
    display: none;
}

.dropdown::after,
.dropdown .dropdown::after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m4 5.588 4 4 4-4' stroke='%23000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
    position: absolute;
    right: 5px;
}

.dropdown::after {
  top: 20px;
}

.dropdown .dropdown::after {
  top: 10px;
}

.dropdown {
  display: block;
}

.cancel-btn {
  position: fixed;
  right: 8%;
  top: 10px;
}

header ul li.showMenu > ul,
.mega-menu-dropdown.showMenu > .mega-dropdown {
  display: block !important;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

header ul li.showMenu::after {
  rotate: 180deg;
}

.toggle-slide-btn {
  display: block;
}

[class*="mediapract-container"] {
  margin-bottom: 40px;
}

.seperator {
  margin-bottom: 25px;
}

.seperator::after {
  content: unset !important;
  position: unset !important;
}

.blog-header > .co-aut {
  display: block;
}

.sidebar {
  order: 1;
  position: static;
}

.blog-content {
  order: 2;
}

.robox-img img {
  position: absolute;
  left: -190px;
  height: 250px;
  transform: translateY(-5px);
}
}

@media screen and (max-width: 992px) {
  .grid-md-30 {
      grid-template-columns: 30% auto;
  }

  .mediapract-container-bg-1 .big-head {
      font-size: 18px !important;
      line-height: 30px !important;
  }

  .mediapract-container-bg-1 .category-title {
      display: none;
  }

  .table-list {
    display: none;
  }
  .table-list.open{
    display: block;
  }
  .sidebar-menu-class .table-h{
    position: relative;
  }
  .sidebar-menu-class ul.table-list{
    height: fit-content;
  }
}

@media screen and (max-width: 600px) {
  .seperator div {
      font-size: 25px;
  }

  .subhead,
  .number .h5 {
      font-size: 18px !important;
      line-height: 30px !important;
  }

  .error-title {
      font-size: 40px;
  }

  .error-page {
      background: unset;
  }

  .search-form input {
      font-size: 15px !important;
  }

  .overlay-card .img-placeholder img {
      height: 350px;
  }

  .grid-md-30 {
      grid-template-columns: auto;
  }

  [class*="mediapract-container-bg"],
  .mediapract-container-black {
      padding-block: 25px;
  }

  .grid-reverse-20{
    grid-template-columns: auto;
  }

  .mediapract-container-bg-1 .category-title {
    display: block;
}

header ul .dropdown ul .dropdown ul {
    position: absolute;
    left: 0%;
    top: 30px;
}

.blog-header,
.page-header {
    margin-bottom: 25px;
}

.widget-content {
    padding: 20px !important;
}

.table-responsive {
    overflow-x: auto;
}

.author-page .h6:first-child {
    margin: 10px 0px;
    display: block;
    text-align: center;
}

.search-form .search-btn {
    right: -20px;
}

.grid-50-50{
  grid-template-columns: auto;
}
}

@media screen and (max-width: 1023px) {
  .mega-menu a {
      width: 100%;
  }
  .mega-menu-dropdown {
      position: relative;
  }
  /* #icon-position {
    cursor: pointer;
    margin-right: 50px;
    opacity: 1;
    visibility: visible;
} */
}


.sidebar-menu-class ul li.t-active,.sidebar-menu-class ul li:hover {
  background-color: #a3a3a314;
}

.sidebar-menu-class ul li.t-active{
position: relative;
}
li.t-active ::before{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 6px;
  top: 22px;
  margin-top: 0;
  border-width: 5px 0 5px 8px;
  border-radius: 0;
  border-color: transparent transparent transparent var(--gradient);
  border-style: solid;
}